/*hero imgs*/
#hero-img {
    max-width: 100%;
    z-index: -3;
    margin-top: -120px;
}
/* #hero {
    max-width: 100%;
} */
h1 {
    font-family: Papyrus;
}
p {
    font-family: 'Brush Script MT';
    font-size: x-large;
}


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }




/*header*/
header a {
    margin: 0 auto;
}
.logo {
    max-width: 100%;
    height: 170px;
    top: 0;
    right: 47.5%;
    position: absolute;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #161616;
}
header {
    display: grid;
    grid-template-columns: auto 100px auto;
    text-align: center;
    z-index: 1;
    background-color: #663236;
    z-index: 2;
    position: relative;
}
nav {
    background-color: var(--accent2-color);
    line-height: 3em;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    display: flex;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Papyrus;
    font-weight: bold;
  }
nav a {
      background-color: #663236;
      margin: 0 auto;
      padding: 10px;
      text-decoration: none;
      color: #a79546;
      font-size: xx-large;
}
nav a:hover {
    background-color: #93843e;
    color: #663236;
}

/*home page*/
.home-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20px 1fr 2fr 1fr 20px;
}
.active-info {
    grid-column: 2/6;
    grid-row: 2/4;
    background-color: #93843e;
    display: flex;
    height: 300px;
    box-shadow: 5px 5px 10px #6f7364;
    display: grid;
    grid-template-rows: .5fr 1fr;
}
.active-info p {
    display: flex;
    padding-right: 15px;
    margin-left: 300px;
}
.active-info h1 {
    margin-left: 300px;
    margin-right: -10px;
    font-size: xx-large;
}
.pack-info {
    grid-column: 1/5;
    grid-row: 6/8;
    background-color: #93843e;
    height: 400px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #6f7364;
    display: grid;
    grid-template-rows: .2fr 1fr;
}
.pack-info h1 {
    padding-left: 20px;
    font-size: xx-large;
}
.pack-info p {
    text-align: left;
    margin-right: 400px;
    margin-left: 15px;
}
#picnic-img {
    width: 300px;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: -70px;
    box-shadow: 5px 5px 10px #161616;
}
#bagend-img {
    width: 400px;
    grid-column: 4/6;
    grid-row: 5/7;
    z-index: 1;
    margin-top: 20px;
    position: relative;
    right: 0;
    bottom: -100px;
    box-shadow: 5px 5px 10px #161616;
}

/*activity page*/
.activity-grid{
    display: grid;
    grid-template-columns: 15px 1fr 2fr 10px 2fr 1fr 15px;
    margin-top: 30px;
}
#activities-list{
    grid-column: 2/4;
    grid-row: 2/7;
    background-color: #6f7364;
    margin-top: -100px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px #161616;
}
#picnic_img{
    width: 300px;
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
    position: relative;
    left: 0;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #161616;
}
#sword_img{
    width: 300px;
    grid-column: 1/3;
    grid-row: 5/6;
    z-index: 1;
    position: relative;
    left: 0;
    top: 100px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #161616;
}
#events-list{
    grid-column: 5/7;
    grid-row: 2/7;
    background-color: #6f7364;
    margin-top: -100px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px #161616;
}
#firework_img{
    width: 300px;
    grid-column: 6/8;
    grid-row: 1/3;
    z-index: 1;
    position: relative;
    right: 0;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #161616;
}
#partytree_img{
    width: 300px;
    grid-column: 6/8;
    grid-row: 5/6;
    z-index: 1;
    position: relative;
    right: 0;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px #161616;
}
li {
    font-family: Papyrus;
    font-size: x-large;
    font-weight: bolder;
}
/* #events-list li {
    margin-left: 20px;
    margin-right: 300px;
    display: flex;
} */
#activities-list .left_float {
    float: left;
    margin-left: 20px;
}
#activities-list .right_float {
    float: right;
    margin-left: 300px;
    margin-right: 20px;
}
#events-list .left_float {
    float: left;
    margin-left: 20px;
    margin-right: 300px;
}
#events-list .right_float{
    float: right;
    margin-right: 20px;
    margin-left: 300px;
}

/*footer*/
footer {
    background-color: #237770;
    display: flex;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}
footer div a {
    text-decoration: none;
}
footer div a img {
    margin-left: 10px;
    margin-right: 10px;
    border: solid #161616 2px;
}
footer h3 {
    text-decoration: none;
    font-size: xx-large;
    color: #161616;
}