.card {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    background-color: rgb(90, 90, 90);
    margin: 20px;
    margin-top: 100px;
    box-shadow: 5px 5px;
    border-radius: 5%;
    z-index: 1;
}

.card p {
    margin-left: 20px;
}

h2 {
    padding-left: 1rem;
}

.card h2:first-child{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

main h1 {
    position: absolute;
    grid-row: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
    text-decoration: underline;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: fixed;
	top: 0;
	right: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.open a {
	display: block;
}

body {
    background-color: rgb(174, 174, 174);
}

header {
    background-color: maroon;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

header img {
    margin: 5%;
    grid-row: 2;
    border-radius: 5%;
    box-shadow: 2px 2px;
}

header span {
    font-size: xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    grid-row: 2;
}

#mode {
    width: 25px;
    height: 25px;
    position: fixed;
    top: 30px;
    right: 10px;
    border: none;
    background-color: rgba(128, 0, 0, 0);
}

nav {
    display: none;
    background-color: rgb(200, 0, 0);
}

nav.open {
    display: block;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    background-color: azure;
}

main {
    background-color: rgb(121, 121, 121);
    min-height: 50%;
}

#confirmed h2{
    grid-row: 2;
    text-align: center;
    font-family: Impact;
    font-weight: 75;
}

#class {
    text-align: center;
}

picture {
    position: relative;
    display: flex;
    max-width: 960px;
    margin-bottom: 5px;
}

picture img {
    width: 100%;
    height: 400px;
    flex-direction: column;
    z-index: 0;
}

.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 1.5rem;
    white-space: nowrap;
}

.horizontal-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 3rem;
    padding-bottom: 1rem;
}
  
  .horizontal-links .link-item {
    margin-right: 15px;
}
  
  .horizontal-links .link-item a {
    text-decoration: none;
    color: #000000;
}
  
  .horizontal-links .link-item a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

li a {
    color: black;
}

nav a:hover {
    color: black;
}

iframe {
    width: 100%;
}

footer {
    background-color: black;
    height: 50px;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer span {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

