@media screen and (min-width: 600px){
    nav {
        display: flex;
        flex-direction: row;
    }

    #class {
        position: relative;
        margin-top: 400px;
    }

    main {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 20% 1fr;
    }

    .card {
        display: flex;
        flex-direction: column;
        grid-row: 2;
        background-color: rgb(90, 90, 90);
        margin: 20px;
        margin-top: auto;
        box-shadow: 5px 5px;
        border-radius: 5%;
        z-index: 1;
    }


    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #d60000;
        color: #fff;
    }
    
    .navigation a {
        text-align: center;
        text-decoration: none;
        color: #000000;
        padding: 3pt;
    }
    
    .navigation ul {
        text-align: center;
        text-decoration: none;
        color: #bb0000;
    }
    
    .navigation a:hover {
        background-color: #a20000;
        color: #000000;
    }

    picture {
        position: relative;
        display: flex;
        max-width: 960px;
        margin-bottom: 5px;
        left: 20%;
        right: 20%;
    }
    
    picture img {
        width: 100%;
        height: 400px;
        flex-direction: column;
        z-index: 0;
    }
    
    .overlay {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        font-size: 1.5rem;
        white-space: nowrap;
    }
}