@media screen and (min-width: 760px){
    nav {
        display: flex;
        flex-direction: row;
    }

    main {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 20% 1fr;
    }
}